:root {
    --primary-color: #1B7340;
    --primary-color-light: #90D3ED;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main-container {
    background: white;
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color-light);
}

button {
    background: var(--primary-color);
    color: white !important;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    line-height: 1em;
    display: inline-block;
    transition: all .2s;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background: var(--primary-color-light);
}

.input-wrapper {
    border-bottom: 2px solid var(--primary-color);
    margin: 10px 0;
}

.input-wrapper input:not([type=checkbox]) {
    width: 100% !important;
    border: 0;
    padding: 2px 0; 
    margin: 5px 0;
    -webkit-appearance: none;
}

.input-wrapper input:disabled {
    background: none;
}

.input-wrapper label {
    color: #666;
    font-size: 0.8em;
}

.input-wrapper textarea {
    resize: vertical;
}