:root {
    --primary-color: #1B7340;
    --primary-color-light: #90D3ED;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main-container {
    background: white;
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
}

button {
    background: var(--primary-color);
    color: white !important;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    line-height: 1em;
    display: inline-block;
    transition: all .2s;
    cursor: pointer;
}

button:hover {
    background: var(--primary-color-light);
}

input:not([type=checkbox]), select, textarea {
    width: 100% !important;
    background-color: #e9e9e9;
    border: 0;
    padding: 10px;
    margin: 5px 0;
}

textarea {
    resize: vertical;
}